*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  height: 100%; }

body {
  font-family: 'Spectral', serif;
  font-size: 1.6rem; }

.section-header {
  height: 15vh;
  border-bottom: 3px solid #001E87; }

.navigation {
  display: flex;
  justify-content: space-between;
  position: relative; }
  .navigation__logo {
    display: flex; }
  .navigation__nav li {
    list-style: none;
    display: inline;
    padding-right: 2rem; }

.container {
  padding: 2rem 15rem; }
