// colors

$color-primary-light:#6785EF;
$color-primary-dark: #001E87;
$color-secondary-light:#F4A0D7;
$color-secondary-dark: #FF1DB3;

$color-black:#000;
$color-whitr:#fff;

//
$font_size_normal:1.6rem;