/*  
@import url('https://fonts.googleapis.com/css?family=Prosto+One');*/

@font-face {
  font-family: 'Jaapokkisubtract';
  src: url('../fonts/JaapokkisubtractRegular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/JaapokkisubtractRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/JaapokkisubtractRegular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/JaapokkisubtractRegular.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/JaapokkisubtractRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/JaapokkisubtractRegular#svgFontName') format('svg'); /* Legacy iOS */
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header{
  height: 100vh;
  position: relative;
 

}

 

.yellow{
  position: relative;
  height: 100vh;
  background-image: linear-gradient(rgb(255, 249, 9), rgb(255, 249, 9));
  clip-path: inset(0% -10% 88% 40% round 30px);
}
 

.nav{
  position: absolute;
 top: 0;
 right:0;
 padding-right: 5%;
 display: flex;   
 flex-direction:row-reverse;

  font-family: 'Paytone One', sans-serif;
  font-size: 18px;
  
}

.nav p{
  display: inline;
  padding: 3vh 4vw;
   
}


.logo{
  font-family: 'Jaapokkisubtract', sans-serif;
  text-transform: uppercase;
  width: 3.5em;
  height: 1.7em;
  text-align: center;
  font-size: 26px;
  padding-top: 1vh;
  color: #383636;
  
  margin-top: 2vh;
  margin-left: 2vh;
  position: absolute;
  top: 0;
  transition: all 0.5s ease
}

.logo__whitepage {
  background-color:#fff909;
  border-radius: 15px;
  
}

.logo:hover{
    
}



.text{
  position: absolute;
  top:55%;
  left:8%;
  transform: translate(0, -50%);
  text-align: center
}
  
.title{
  font-family: 'Paytone One', sans-serif;
  font-size: 38px; 
}
.taxes {
  font-size: 60px;
  margin-top: -15px;
}

.text_offer{
  margin-top: 2.5vh;
  margin-left: px;
  width:70vh;
  font-size: 20px;
  margin-bottom: 30px;
}

.text_offer span {
  font-weight: 900;
}

.btn:link,
.btn:visited{
  text-decoration: none;
  border-radius: 100px;
  padding: 15px 40px;
  display: inline-block;
  text-transform: uppercase;
  
}

.btn-yellow{
  background-color: #fff909;
  color: #383636;
}
 
.btn:hover{
    transform: translateY(-3px);
    color: #383636;
}

.btn:active{
  transform: translateY(-1px)
}
 
.calc{
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.page2{
  background-color: #fff909;
  width: 100%;
  height: 10vh;
}

.container{
  position: relative;
  top:20%;
  left: 0%;
}

.pertTWO{
  display: flex;
}

.logo__yellowpage{
  background-color:#fff909;
  border: 5px solid  #383636;
   top: -1vh;
  
}

.form{
  width:30%;
  height: 10vh;
  background-color:#ffffff;
  border: 4px solid #fff909; 
  
  
}
.form .partOne{
}

.form_label_one{
  padding: 3vh;
   
}

.button_two{
  background-color:#fff909;
  width:30px;
  height: 30px;
  cursor: pointer;
}

.taxes_summary{
width: 50%;
margin-left: 10%;
}