 

body {
  margin: 0;
  padding: 0;
  background-color:rgb(158, 229, 255)
  
}

#main {
  position:absolute;
  padding:4rem;
  left: 30%;
  top:15%;
  background-color:#0AA0D9;
  box-shadow: 5px 10px #888888;
}

.input{
  max-width: 400px;
  margin: 50px auto;
  padding: 10px;
  background-color: #fff;
  border: 10px solid #F7F7F7;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

#summary{
  position:relative;
  margin-top: 2rem;
  color: white;
  font-family: 'Marmelad', sans-serif;
}
h1 {
 text-align: center;
 font-size: 1.6rem
}
 
button {
  background-color:#FFF;
  color: #0AA0D9; 
  font-family: 'Marmelad', sans-serif;
  font-size: 1.2rem;
  font-weight:600;
  border-radius: 14px;
  
}
