 

body {
  margin: 0;
  padding: 0;
  background-color:#FFF568;
}

#main {
  position:absolute;
  padding:4rem;
  left: 30%;
  top:30%;
  background-color:#0AA0D9;
  box-shadow: 5px 10px #888888;
}

#summary{
  position:relative;
  margin-top: 2rem;
  color: white;
  font-family: 'Mali', cursive;
}
h1 {
 text-align: center;
 font-size: 1.6rem
}
 
button {
  background-color:#FFF568;
  color: #0AA0D9; 
  font-family: 'Mali', cursive;
  font-size: 1.2rem;
  font-weight:600;
  border-radius: 14px;
  
}
