.section-header{
    height:15vh;
    min-height: 10rem;
     
    border-bottom: 2px solid $color-primary-light;
    position: relative;   
}

.section-first{
    margin-top: 18rem;
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
}